.Icicle {
	width: 15px;
	height: 40px;
	border: 0;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	transform: rotate(360deg);
	background: blue;
	-webkit-transform: rotate(360deg);
}

.Wrapper {
	display: flex;
	position: absolute;
	top: 100%;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-around;
	z-index: 0;
}
